@mixin display-flex{
    display: flex;
    align-items: center;
}
.adminBodyTableBodyItem__container{
    @include display-flex();
    border-bottom:0.2px solid lightgrey;
    padding:10px;
    .adminBodyTableBodyItem__employeeId,.adminBodyTableBodyItem__department,.adminBodyTableBodyItem__name,.adminBodyTableBodyItem__gender,.adminBodyTableBodyItem__email{
        flex:1;
        text-align: center;
    }

}