@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.adminHeader__container{
    background-color: #6c62ef;
    width: 100%;
    padding:20px;
    .adminHeader__title{
        color:white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-style: bold;
    }


}