.adminBodyTable__container{
    .adminBodyTable__header{
        background-color: #e5e5e5;
        padding:10px;
    }
    .adminBodyTable__body{
        // padding:10px;
        max-height: 60vh;
        overflow-y: scroll;
        ::-webkit-scrollbar{
            // width: 2px;
            display: none;
        }
        
    }
}
